body{
  font: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #575759;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.Name {
  max-width: auto; 
  height: auto;
  white-space: nowrap;
}

.Name h1 {
  background-color: #9CD9D9; 
  color: #575759; 
  padding: 10px; 
  white-space: nowrap; 
  padding: 10px 20px 10px 60px;
  margin-left: -20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #9CD9D9;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #7bacac; 
}
.hero-banner{ 
  position: relative;
  text-align: center;
  z-index:1;
}
  
  .background-image{
    background-image: url("starter/images/02-hero-bg.jpg");
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 120px; 
   
   
  }
  .hero-content{
   position:absolute;
   background-color: #9CD9D9; 
   color: #575759; 
   position: absolute;
   top: 38px; 
   right: 90px; 
   background-color: #9CD9D9;
   color: #575759;
   padding: 10px;
   white-space: nowrap;
   padding: auto;
   
  }
  

  .flex-container {
    display: flex;
    margin-top: 20px;
    flex-wrap:wrap
  }
  
  .flex-item {
    flex: 1;
    color: #575759;
    text-align: center;
    margin: 05px;
    text-align: right;
    font-size: 50px;
    padding-right: 79px;
    position: relative; 
    max-width: 1fr;
    border-right: 3px solid #575759;
    
  }
  
   
  .larger {
    flex: 3;
    max-width: 2fr;
  }
  
  .about-me-text {
    font-size: 18px;
    text-align: left;
  }

  .flex-container-2 {
    display: flex;
    flex-wrap: wrap;
    color: #575759;
    text-align: center;
    margin: 05px;
    text-align: right;
    font-size: 50px;
    padding-right: 50px;
    position: relative;
    margin-top: 20px;
  }
  
  .small-box {
    flex: 1;
    background-color: #ffffff;
    padding-right: 59px; /* Adjust this value to move the border to the right */
    text-align: right;
    max-width: 1fr;
    border-right: 3px solid #575759;
  }
  
  .large-box {
    flex: 3;
    background-color: #ffffff;
    padding: 20px;
    max-width: 2fr; 
    
    
  }
  
  .contact{
    flex: 3;
  }
  .large-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 10px;
    border: 5px solid #9CD9D9; 
  }
  
  .project-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  #top-image{
    height:400px;
  }
  .project-image-1 {
    flex: 1 100%;
    order: 1;
    height: 300px;
  }
  
  .project-image-2,
  .project-image-3 {
    flex: 1 45%;
    order: 2;
    height: 150px;
    margin-right: 10px;
  }
  
  .project-image-4,
  .project-image-5 {
    flex: 1 45%;
    order: 3;
    height: 150px;
    margin-right: 10px;
  }

  .small-box-2{
    flex: 1;
    background-color: #ffffff;
    padding-right: 79px; /* Adjust this value to move the border to the right */
    text-align: right;
    max-width: 1fr;
    border-right: 3px solid #575759;
  }

footer {
  background-color: white;
  text-align: center;
  padding: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links a {
  text-decoration: none;
  color: #575759;
  font-weight: bold;
  font-size: 28px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #7bacac;
}



@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: center;
  }

  .logo {
      margin-bottom: 10px;
  }

  nav ul {
      flex-direction: column;
  }

  nav li {
      margin-right: 0;
      margin-bottom: 10px;
  }
}